.about {
    padding: 20px;
    text-align: center; /* Center the sections */
  }
  
  .about-section {
    max-width: 800px; /* Constrain the width */
    margin: 0 auto 20px auto; /* Center the section and add bottom margin */
    text-align: left; /* Align text to the left */
  }
  
  .about-section h4 {
    margin-bottom: 10px;
  }
  
  .about-section p {
    margin: 0;
    font-size: 16px;
  }

  .about-section h6 {
    font-size: 12px;
  }