.banner {
    background-color: #f2c594;
    color: white;
    text-align: center;
    height: 88px;
    max-width: 800px;
    margin: 10px 10px;
  }
  .banner img {
    width: auto;
    height: 82px;
    padding-bottom: 0px; 
  }